.header .navbar-nav .nav-link {
    color: rgb(0, 0, 0); /* Change text color to white */  
}
.header .navbar-brand{
    color: rgb(0, 0, 0);
    flex: -1;  
}
.navbar-nav .nav-link {
    margin: 0 10px; /* Adjust the margin as needed */
}

.navbar-brand {
    margin-right: 2px; /* Adjust the margin as needed */
}

.navbar-toggler {
    margin-left: 10px; /* Adjust the margin as needed */
}

.header .nav{
    color: rgb(0, 0, 0);
}
.header .navbar-nav .nav-link[href="index.html"] {
    color: rgb(0, 0, 0); /* Change text color to white */
}

.header .navbar-nav .nav-link[href="index.html"]:hover {
    color: rgb(0, 0, 0); /* Change text color on hover */
}

.header .navbar-toggler-icon {
    background-color: rgb(0, 0, 0); /* Change toggler icon color */
}

.hero-section {
    position: relative;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section h1 {
    font-size: 4rem;
    z-index: 2;
}

.about-images img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-images img:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
