*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.bg-green{
    background-color: white;
}
.header .navbar-nav .nav-link {
    color: blue; /* Change text color to white */
   
}


.header .navbar-brand{
    color: blue;
    flex: -1;
   
}
.navbar-nav .nav-link {
    margin: 0 10px; /* Adjust the margin as needed */
}

.navbar-brand {
    margin-right: 2px; /* Adjust the margin as needed */
}

.navbar-toggler {
    margin-left: 10px; /* Adjust the margin as needed */
}

.header .nav{
    color: blue;
}
.header .navbar-nav .nav-link[href="index.html"] {
    color: blue; /* Change text color to white */
}

.header .navbar-nav .nav-link[href="index.html"]:hover {
    color: blue; /* Change text color on hover */
}


.header .navbar-toggler-icon {
    background-color: blue; /* Change toggler icon color */
}


nav img {
    width: 130px;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 2px 6px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 13px;
    margin-left: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: green;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 300%;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    height: 18px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8f2020;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
body::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(51deg,#62c3fc 0%, #dff0fa 80%);
    clip-path: circle(68.4% at 26% 31%);
    animation: circle .8s;
}
@keyframes circle {
    0%{
        margin-top: -100%;
    }
    100%{
        margin-top: 0;
    }
}
.container{
    width: 80%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   
    border-radius: 5px;
    animation: container 1.5s ease;
}
@keyframes container {
    0%{
        margin-top: -100%;
    }
    100%{
        top: 0;
    }
}
.container .image{
    width: 80%;
    height: 150vh;
    display: flex;
    align-items: center;
    position: relative;
}
.container .image::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.container .image img{
    margin-left: 100px;
    height: 400px;
    z-index: 1;
    box-shadow: black;
}
.container .form-area{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: form 1.8s ease;
}
@keyframes form {
    0%{
        margin-left: 500px;
    }
    100%{
        left: 0;
    }
}
.container .form-area h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.container .form-area form{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.container .form-area form input{
    padding: 15px 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
}
.container .form-area form input::placeholder{
    color: #999;
    letter-spacing: 1px;
}
.container .form-area form input:hover::placeholder,
.container .form-area form textarea:hover::placeholder{
    padding-left: 10px;
    transition: .3s all ease-in-out;
}
.container .form-area form input:focus,
.container .form-area form textarea:focus{
    border-bottom: 1px solid #62c3fc;
    animation: border .5s ease;
}
@keyframes border {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.container .form-area form textarea{
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    resize: none;
    padding: 0px 5px;
}
.container .form-area form textarea::placeholder{
    font-size: 14px;
    color: #999;
}
.container .form-area form button{
    margin-top: 10px;
    border: none;
    padding: 10px 0px;
    border-radius: 30px;
    background-color: #62c3fc;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    transition: .3s all ease-in-out;
}
.container .form-area form button:hover{
    background-color: #2fa5e9;
}
.container .form-area .social-icons{
    margin-top: 50px;
    display: flex;
}
.container .form-area .social-icons i{
    margin-right:  10px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.container .form-area .social-icons .fa-facebook{
    background-color: #3b5998;
    color: #fff;
}
.container .form-area .social-icons .fa-square-instagram{
    background-color: #f70084ec ;
    color: #fff;
}
.container .form-area .social-icons .fa-twitter{
    background-color: #0e76a8;
    color: #fff;
}

@media (min-width:1200px){
    .main .container{
        height: 85vh;
    }
}
@media (max-width:1200px) and (min-width:900px){
    body::before{
        height: 200px;
        width: 200px;
    }
    .main .container{
        height: 85vh;
    }
    .main .container .image img{
        margin-left: 30px;
    }
    .main .container .form-area h2{
        font-size: 25px;
    }
}

@media (max-width:900px) and (min-width:600px){
    body::before{
        height: 150px;
        width: 150px;
    }
    .main .container{
        width: 95%;
        height: 85vh;
    }
    .main .container .image img{
        height: 150px;
        margin-left: 30px;
    }
    .main .container .form-area form{
        width: 90%;
    }
}
@media (max-width:600px){
    body{
        height: auto;
    }
    body::before{
        height: 100px;
        width: 100px;
    }
    .main .container{
        width: 98%;
        height: auto;
        flex-direction: column;
        margin: 20px 0px;
        box-shadow: none;
    }
    .main .container .image{
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .main .container .image::before{
        height: 200px;
        clip-path: polygon(0% 0%, 100% 0, 100% 81%, 50% 100%, 0 81%);
    }
    .main .container .image img{
        height: 150px;
        margin-left: 0px;
        margin-top: -40px;
    }
    .main .container .form-area{
        width: 100%;
    }
    .main .container .form-area h2{
        font-size: 25px;
    }
    .main .container .form-area form{
        width: 90%;
        margin-top: 10px;
    }
    .main .container .social-icons{
        margin: 20px 0px;
    }
}

