
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    height:999px
}


.bg-green{
    background-color: blue;   
}
.header .navbar-nav .nav-link {
    color: white; /* Change text color to white */
}

.header .navbar-brand{
    color: white;
}
.header .nav{
    color: white;
}
.header .navbar-nav .nav-link[href="index.html"] {
    color: white; /* Change text color to white */
}

.header .navbar-nav .nav-link[href="index.html"]:hover {
    color: #f8f9fa; /* Change text color on hover */
}


.header .navbar-toggler-icon {
    background-color: white; 
}


.navbar img {
    width: 80px;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 2px 6px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 13px;
    margin-left: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: green;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 300%;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    height: 18px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display:none;
    position: absolute;
    background-color: #8f2020;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.container h1{
    text-align: center;
    padding-top: 140px;
    
  }
 
img {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img img {
    width: 10%; /* Adjust as needed */
    margin: 10px; 
}

@media (max-width: 768px) {
    .img img {
        width: 45%; /* Adjust for smaller screens */
    }
}

.content{
    float: right;
    position: absolute;
    margin-left: 900px;
}


/* Style for event cards */

.event-cards {
    flex: 2;
    width: 100px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    object-fit: cover;
    margin-top: 55px;
}

/* Style for individual event card */

.event-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-card img {
    width: 100%;
    height: auto;
}

