 /* Custom CSS */



 h1{
    text-align: center;
 }
 .gallery-item {
    position: relative;
    overflow: hidden;
    padding: 20px;
    width:fit-content;
  }
  .gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  .gallery-item:hover img {
    transform: scale(1.1);
  }
  .gallery-caption {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #0c0c0c;
    background: white;
  }