<section class="header">
    <nav class="navbar custom-gradient navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand text-decoration-none" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/kalaa logo.jpg') }}" alt="Logo" class="navbar-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center row m-0" id="navbarSupportedContent">
                <div class="col-12">
                    <a class="navbar-brand text-decoration-none" href="{{ url_for('index') }}">
                        <span class="fs-1">കലാ </span> <span class="fs-3"> Malayali Association of Delaware Valley</span>
                    </a>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="navbar-brand">
                        <ul class="navbar-nav mb-2 mb-lg-0  ">
                            <li class="nav-item ">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('aboutus') }}">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#vs">Vision & Mission</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#events" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Events
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ url_for('upcoming') }}">Upcoming Events</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('past') }}">Past Events</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('team') }}">Team</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('news') }}">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('membership') }}">Membership</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>